Currently For Demonstration Purposes as I do not have access to the data
<%= stylesheet_link_tag 'form_post.css' %>
<%= form_with url: "/search", method: :get, html: {class: 'post' }  do |form| %>
    <div id = "date" class = "field">
        <%= form.label :start, "Date: " %>
        <%= form.date_select :start, include_blank: true, :order => [:month, :day, :year]%>
    </div>
    <div id = "coach"  class = "field">
        
    </div>
    <%= form.submit "Search" %>
<% end %>
<%= button_to 'Scrape', scrape_users_path %>